<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ProMan</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">

        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
</head>
<body>
    <div class="board-column">
        <div class="board-column-title">In Progress</div> 1
        <div class="board-column-content" status-progress-id="1">
            <div class="card" data-card-id="3" draggable="true"> 2
                <div class="card-remove"><i class="fas fa-trash-alt"></i></div>
                <div class="card-title">in progress card</div> 3
            </div>
            <div class="card" data-card-id="1" draggable="true">
                <div class="card-remove"><i class="fas fa-trash-alt"></i></div>
                <div class="card-title">new card 1</div>
            </div>
        </div>
    </div>
</body>
</html>