<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ProMan</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">

        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
</head>
<body>
    <div id="root">
        <div id="registration-div">
            <input placeholder="username" type="text" name="username" id="username" class="registration-input">
            <input placeholder="password" type="password" name="password" id="password" class="registration-input">
            <input placeholder="password-confirm" type="password-confirm" name="password-confirm" id="password-confirm" class="login-input">
           <div id="buttons-div">
               <button id="registration-button"> REGISTER </button>
               <button> CANCEL </button>
           </div>
        </div>
    </div>
</body>
</html>