<div class="navbar-div">
    <nav class="navbar-custom">
        <a class="navar-left-button" href="">
            vfguks
        </a>
        <a class="navar-left-button" href="">
            vdhzdth
        </a>
        <a class="navar-left-button" href="">
            fyjhgsdjm
        </a>
        <button id="button-login" class="navar-right-button" >
            LOGIN
        </button>

        <button id="button-register" class="navar-right-button" >
            REGISTER
        </button>

    </nav>
</div>